.btn-decline,
.btn-confirmation {
    border: none;
    outline: none;
    padding: 10px;
    width: 50px;
    font-size: 17px;
    border-radius: 5px;
    margin: 7px;
    font-weight: bold;
}

.btn-confirmation {
    color: rgb(173, 226, 173);
    background-color: rgb(84, 109, 84);
    border: 1.7px solid rgb(173, 226, 173);
}

.btn-decline {
    color: rgb(226, 173, 173);
    background-color: rgb(109, 84, 84);
    border: 1.7px solid rgb(226, 173, 173);
}

.btn-decline:hover,
.btn-confirmation:hover {
    animation: resize-btn 0.9s infinite alternate;
}

.note-list-section {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.note-list-section__title {
    color: rgb(70, 74, 105);
}

.note-list-section__separator {
    width: 50%;
    margin: auto;
    margin-top: 14px;
    height: 3.4px;
    background-color: #484e81;
}

.note-list-section__priority-filter,
.note-list-section__title-filter {
    position: absolute;
}

.note-list-section__priority-filter {
    left: 5px;
    top: 5px;
}

.note-list-section__priority-filter__title {
    color: rgb(70, 74, 105);
}

.note-list-section__priority-filter__select {
    margin-top: 6px;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    border: 1.5px solid #CECC7C;
    font-size: 15px;
    color: rgb(70, 74, 105);
    font-weight: bold;
    background: rgb(240, 240, 240);
}

.note-list-section__priority-filter__select option {
    border: none;
    background-color: rgb(240, 240, 240);
    ;
    font-weight: bold;
}

.note-list-section__title-filter {
    margin-top: 10px;
    z-index: 5;
    width: 50%;
    left: 
    25%;
}

.note-list-section__title-filter__img {
    position: absolute;
    right: 17%;
    top: 10px;
    width: 30px;
}

.note-list-section__title-filter__input {
    border: none;
    padding: 8px;
    font-size: 20px;
    width: 67%;
    outline: none;
    background: rgb(240, 240, 240);
    margin-top: 10px;
    border-bottom: 2px solid #484e81;
    color: rgb(70, 74, 105);
}

.note-list-section__title-filter__input::placeholder {
    color: rgb(70, 74, 105);
}

.note-list-section__clear-notes{
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #e58b85;
    background-color: #533030;
    color: #e58585;
}

.note-list-section__notes {
    margin-top: 70px;
    position: relative;
}

.note-list-section__notes__list-empty {
    font-size: 25px;
    color: rgb(70, 74, 105);
    font-weight: bold;
    padding: 10px;
}

@media (max-width: 860px) {

    .note-list-section__separator {
        width: 37%;
    }

    .note-list-section__title-filter__input {
        width: 90%;
        margin-top: 20px;
    }

    .note-list-section__title-filter__img {
        position: absolute;
        right: 8%;
        top: 25px;
        width: 30px;
    }

}

@keyframes resize-btn {

    10% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1.15);
    }

    30% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.35);
    }

    70% {
        transform: scale(1.4);
    }

    80% {
        transform: scale(1.45);
    }

    90% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.55);
    }

}