#Angular CLI
/dist
/out-tsc
/.angular

# Build
/build
/tmp
/temp

# Node.js
/node_modules
/npm-debug.log
/yarn-error.log
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# IDEs
/.vscode
/.idea
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Tmp
*.log
*.tmp
*.swp
*.bak

# Tests
/coverage
/test-output