.new-note-section {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;    
    position: relative;
    text-align: center;
}

.new-note-section__close-button {
    text-align: right;
    position: absolute;
    top: 0;
    color: rgb(70, 74, 105);
    position: absolute;
    right: 15px;
}

.new-note-section__close-button:hover,
.open-button:hover {
    transform: scale(1.2);
}

.new-note-section__close-button,
.open-button {
    border: none;
    padding: 4px;
    background: transparent;
    font-size: 20px;

    border-radius: 3px;
}

.new-note-section__title {
    color: rgb(70, 74, 105);
}

.new-note-section__add-button {
    border: none;
    padding: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;    
    color: rgb(70, 74, 105);
    border-radius: 10px;
    background-color: transparent;
}



.new-note-section__close-open-tab {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;    
    margin-bottom: 10px;
    text-align: center;
    width: 5%;
    right: 0;
    margin-left: 95%;
}

.open-button {    
    color: rgb(70, 74, 105);   
    margin-top: 3px;    
}


