.note {
    width: 25%;
    background-color: rgb(90, 89, 78);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    flex-direction: column;
    margin: 12px;
    border-radius: 5px;
    position: relative;
    min-height: 200px;
}

/* Priority, delete note button, category and note title 
are elements that need to be positioned*/
.note__priority,
.note__delete-btn,
.note__title,
.note__category {
    position: absolute;
}

.note__priority {
    top: 0;
    left: 5px;
    z-index: 5;
}

/* Priority styles */
.high,
.low,
.medium {
    font-weight: bold;
}

.high {
    color: #ff6666;
    animation: change-color 1.3s infinite alternate;
}

.low {
    color: rgb(173, 226, 173);
}

.medium {
    color: rgb(196, 173, 226);
}

.note__delete-btn {
    border: none;
    padding: 4px;
    background: transparent;
    font-size: 20px;
    z-index: 5;
    color: rgb(145, 145, 136);
    right: 8px;
    top: -4px;
    border-radius: 3px;
}

.note__delete-btn:hover {
    transform: scale(1.2);
}

.note__title {
    color: rgb(209, 161, 27);
    font-weight: bold;
    font-size: 20px;
    z-index: 0;
    top: 0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: 0;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    background-color: #2c2c2c;
}

.note__description {
    margin-top: 40px;
    padding: 14px;
    margin-bottom: 40px;
    color: white;
    text-align: left;
    max-width: 100%;
    word-wrap: break-word;
}

.note__description::first-letter {
    text-transform: uppercase;
}

.note__category {
    bottom: 0;
    color: #e4d2c1;
    width: 100%;
    font-weight: bold;
    left: 0;
    padding: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(102, 102, 95);
    border-bottom-right-radius: 5px;
}

@media (max-width: 1400px) {
    .note {
        width: 45%;
    }
}

@media (max-width: 1030px) {
    .note {
        width: 55%;
    }
}

/* Animations */

@keyframes change-color {


    50% {
        color: #ff6666;
    }

    100% {
        color: #990000;
    }

}