* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 48, 48);
    font-family: 'poppins', sans-serif;    
}

button {
    cursor: pointer;
}

button:hover {
    animation: resize-btn 0.9s infinite alternate;
}

@keyframes resize-btn {

    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.55);
    }

}

@font-face {
    font-family: 'poppins';
    src: url('./fonts/poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

